@mixin form_el_checkbox {
	position: relative;


	font-weight: 500;
	color: $black;
	cursor: pointer;

	@include bp($point_2, min) {
		padding-left: 3rem;

		font-size: 2rem;
	}

	@include bp($point_3) {
		padding-left: 1.6rem;

		font-size: 1rem;
	}

	&:before,
	&:after {
		position: absolute;
		left: 0;

		cursor: pointer;
		content: '';

		@include bp($point_2, min) {
			top: 4px;


			width: 1.8rem;
			height: 1.8rem;
		}

		@include bp($point_3) {
			top: 1px;

			width: 1.2rem;
			height: 1.2rem;
		}
	}

	&:before {
		border-radius: 2px;
		border: 1px solid $black;

		transition: transform 0.2s, opacity 0.2s;
		will-change: transform;

		.form_checkbox__element:checked+& {
			opacity: 0;
			transform: rotateZ(40deg) scaleX(0.6) translateY(-3px);
		}
	}

	&::after {
		opacity: 0;

		border-bottom: 2px solid $black;
		border-right: 3px solid $black;

		transition: transform 0.2s, opacity 0.2s;

		.form_checkbox__element:checked+& {
			transform: rotateZ(40deg) scaleX(0.6) translateY(-3px);
			opacity: 1;
		}
	}

	//--------------------------------------------- Font icon version
	// &:after {
	// 	@include icon-check;
	// 	@include transition_opacity;

	// 	text-align: center;
	// 	line-height: 2rem;
	// 	opacity: 0;
	// 	color: $black;

	// 	.form_checkbox__element:checked + & {
	// 		opacity: 1;
	// 	}
	// }
}