@import 'family';
@import 'reset';
@import 'fonts';
@import 'print';

//------------------------------------------------------------base styles
:root {
	--full-screen: calc(var(--vh, 1vh) * 100);

	--height-footer: 14.8rem;
	--gl-indent: 5rem;

	--gl-hr-indent: 1.3rem;
	--gl-vr-indent: 2rem;

	@include bp($point_2, min) {
		--height-header: 13.7rem;
	}

	@include bp($point_3) {
		--height-header: 4.8rem;
	}
}

html,
body {
	overscroll-behavior: none;
}

html {
	height: 100%;
	font: 400 calc(100vw / 1920 * 10) / 1.3 $font_1;

	font-size: 10px;
}

main > br:last-child {
	display: none !important;
}

body {
	position: relative;

	display: flex;
	height: 100%;

	font-size: $font_size_base;
	color: $color_text_base;

	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: $body_bg;

	@supports (display: grid) {
		display: block;
	}

	&.body--open_menu_state {
		overflow: hidden;
	}
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: $white;

	opacity: 1;
	transition: opacity 0.3s;

	z-index: 1000;

	.body--loaded & {
		pointer-events: none;
		opacity: 0;
	}
}

.wrapper {
	position: relative;

	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	height: auto !important;

	overflow-x: hidden;
}

main,
.base {
	width: 100%;
	position: relative;
	padding: var(--height-header) 0 0 !important;

	flex: 1 0 auto;
}

a {
	text-decoration: none;
	color: $color_link_base;

	// &[href='#'] {
	// 	cursor: default;
	// }

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

// for wp

.editor-styles-wrapper .wp-block {
	margin-bottom: 5rem;
}

html :where(.wp-block) {
	max-width: 1200px;
}

.editor-styles-wrapper {
	overflow-x: hidden;
}

img,
picture {
	display: block;
}

#to_top_scrollup#to_top_scrollup {
	display: none !important;
}

.wpb_video_wrapper {
	padding: 0 !important;
}

[data-tooltip] {
	color: $red;
}

.wpb_text_column img,
.vc_single_image-img,
.wpb_video_widget .mejs-container {
	outline: 1px solid #c8102e;
}

.round_video {
	.mejs-controls {
		display: none !important;
	}

	.vc_single_image-img,
	.wpb_video_widget .mejs-container {
		outline: none !important;
	}

	.mejs-container {
		outline: none !important;
	}
}

.round_video {
	outline: none !important;

	@include bp($point_3) {
		max-width: 40rem;
	}
}

.border_accent_block {
	padding: 1.4rem 1rem !important;
	border: 1px solid red;
}

.vc_row.vc_row-fluid {
	@include bp($point_3) {
		display: block !important;

		.wpb_single_image {
			margin: 0 !important;
		}

		.wpb_single_image .vc_single_image-wrapper {
			margin-top: 20px !important;
		}

		.vc_column_container:not(:first-child) {
			margin-top: 20px !important;
		}

		.vc_column-inner {
			padding-inline: 0 !important;
		}
	}
}

.article--indent_mod + .article--indent_mod:not(.article) {
	display: none !important;
}

//------------------------------------------------------------base styles###
