.post-body-carousel
	.gallery-caption
		color: #fff
		font-size: .8rem

	padding: 10px
	background: #000
	border-radius: 10px
	padding-bottom: 0

/* margin-bottom: 1.5em!important;
/* height: 400px;

.single .wp-caption-text
	font-size: 12px
	font-family: var(--font-main)

.post-body-carousel
	.gallery-caption
		margin-top: 1em

	.owl-stage-outer
		overflow: hidden

	.gallery-item
		width: 100% !important
		float: none !important
		display: -webkit-flex
		display: flex
		-webkit-align-items: center
		align-items: center
		-webkit-justify-content: center
		justify-content: center
		-webkit-flex-direction: column
		flex-direction: column
		margin-left: -20px
		margin-bottom: 0

	img
		border: none !important
		max-height: 400px
		width: auto

div[class^="owl-navigation-"]
	display: -webkit-flex
	display: flex
	-webkit-align-items: center
	align-items: center
	-webkit-justify-content: space-between
	justify-content: space-between
	margin-bottom: 1em

	div[class^="owl-nav-"]
		display: -webkit-flex !important
		display: flex !important
		-webkit-justify-content: space-around
		justify-content: space-around

		button
			&:hover
				opacity: .6

			width: 30px
			height: 30px
			margin: 0
			padding: 0
			background: none
			-webkit-appearance: none
			-moz-appearance: none
			appearance: none
			border: none
