//.region-calendar
//	svg
//		max-width: 70%
//		display: block
//		margin: 0 auto
//
//#map path
//	transition: all 0.4s ease-in-out
//	fill: $color-grey
//	stroke-width: 0.5
//	stroke: #fff
//	&:hover
//		fill: $color-secondary
//		cursor: pointer
//
//#city path
//	fill: #333

.region-calendar-popup
	position: fixed
	top: 0
	left: 0
	display: none
	width: 100%
	height: 100%
	background: rgba(0, 0, 0, 0.65)
	z-index: 999
	-webkit-animation: fade .6s
	-moz-animation: fade .6s
	animation: fade .6s
	overflow: auto
	.inner
		width: 800px
		position: relative
		margin: 15% auto
		background: #fff
		box-shadow: 0 0 5px 0 rgba(1, 1, 1, 0.75)
		-webkit-border-radius: 8px
		-moz-border-radius: 8px
		border-radius: 8px
		padding: 50px
		background: rgba(#fff, 1)
		.event
			display: flex
			align-items: center
			margin: 0 auto
			border-bottom: 1px dashed $color-secondary
			padding: 20px 0
			&:last-child
				border: none
			h5
				width: 150px
				font-size: 13px
				text-transform: uppercase
				color: #333
			.event-data
				font-size: 12px
				margin: 0 30px
				span
					font-weight: 600
					text-transform: initial
					font-size: 12px
			.learn-more
				font-size: 12px
				border: 2px solid $color-secondary
				color: $color-secondary
				text-transform: uppercase
				padding: 5px 15px
				font-weight: 600
				margin: 0 30px
				transition: all 0.4s ease-in-out
				&:hover
					color: #fff
					background: $color-secondary
		h4
			font-size: 16px
			font-weight: 600
			color: $color-dimmed
			text-transform: uppercase
