/*-----------Min width 1440px----------*/
@media screen and (min-width: 1440px)

	.special-projects article
		width: 100%
		height: 245px

	.additional-materials .background
		height: 250px

	footer .footer-one img
		width: 179px
	.news-block-top-three
		margin-bottom: 39px
		article
			&:nth-child(4)
				border: none
			&:nth-child(6)
				display: none
			&:nth-child(5)
				display: none
		.more-news
			//margin-top: 25px
	.news-block-articles-list
		article
			&:nth-child(9)
				border: none
			&:nth-child(10),
			&:nth-child(11)
				display: none
	.news-block
		.more-news
			bottom: 10px
			position: absolute
	.single
		.post-content
			iframe
				width: 100%
				height: 410px
//height: 400px
/*-----------// Min width 1440px----------*/

/*-----------Min width 960px and max width 1439px----------*/
@media screen and (min-width: 1023px) and (max-width: 1439px)
	.news-block-main-news
		margin-bottom: 20px
	.news-block-articles
		width: 51%
		margin-bottom: 20px
	.news-video-block
		width: 49%
		.video-blocks
			flex-wrap: wrap
		.video-block-main
			h3
				font-size: 15px
			.post_excerpt
				//font-size: 14px
				display: none
		.video-blocks
			h3
				font-size: 14px
			.post_excerpt
				font-size: 12px
			.video-thumb
				width: 100%
				max-width: 100%
				margin: 0
				a
					height: 120px
	.news-block-top-three
		//article
		//	&:last-of-type
		//		margin-bottom: 0
	.more-news
		position: absolute
		bottom: 0

@media screen and (min-width: 960px) and (max-width: 1439px)
	.container.narrow-container
		width: 805px

	\:root
		--block-title-fs: 13px
	.site-header .specprojects-btn
		margin-left: 40px
	.main-nav
		flex-direction: column
		padding: 15px 0
		.social, .main-navigation
			margin-bottom: 25px
		.social
			margin-right: 0
			a
				font-size: 14px
	#menu-submenu
		.nav-link
			font-size: 15px
			padding: 0 16px

	//.secondary-main-nav
	//	.secondary-main-nav
	//		padding: 0 30px
	//	.site-logo
	//		width: 230px
	//	.secondary-nav-trigger
	//		display: block
	//		font-size: 20px
	//		font-weight: 600
	//		color: var(--color-dimmed)
	//		margin: 0 12px
	//		cursor: pointer
	//		.main-nav
	//			.social
	//				a
	//					font-size: 14px!important
	//	#menu-submenu
	//		position: absolute
	//		display: none
	//		top: 100%
	//		left: 0
	//		width: 100%
	//		z-index: 10
	//		background: rgba(54, 54, 54, 0.95)
	//		li
	//			width: 100%
	//			display: flex
	//			justify-content: center
	//			padding: 10px 0
	//			font-weight: 600
	//		.nav-link
	//			font-size: 16px!important
	//			color: #fff

	.news-block-articles-list article
		&:last-child
		/* display: none;

		&:nth-child(2)
			padding-bottom: 0
	.news-block
		.news-block-top-three
			.news-title-link
				font-size: 16px

	.special-projects
		grid-template-columns: repeat(3, 1fr)

	.nav-link, .lang-switcher, .social
		font-size: 13px

	#searchform a
		font-size: 17px

	.lang-switcher
		top: -.15em

	.news-block
		//grid-template-columns: 60% auto

	.news-block-main-article
		a

			h2
				font-size: 18px


		.post_excerpt
			font-size: 14px
	.top-three-item
		.top-news-title
			font-size: 15px
		.post_excerpt
			font-size: 14px
	.news-block-articles-list
		a h2
			font-size: 14px
			margin-bottom: 3px

		.post_excerpt
			font-size: 12px

		.date
			display: block
			margin-top: 5px
			font-size: 10px

		article:not(:last-child)
			padding-bottom: 8px
	.news-video-block
		.video-block-main
			h3
				font-size: 15px
			.post_excerpt
				//font-size: 14px
				display: none
		.video-blocks
			h3
				font-size: 14px
			.post_excerpt
				font-size: 12px

		.specprojects-right-block
			.news-block-title
				margin-bottom: 0
		#js-specproject-slider
			h2
				font-size: 18px

	.news-block-articles .more-news, .btn.btn-primary
		font-size: 13px

	.additional-materials
		.background
			height: 167px

			h2
				font-size: 13px
				padding: 4px 7px

		p
			font-size: 14px
			padding: 4px 7px
	#banner
		.vc_custom_1561113305347
			max-width: 1000px
			margin: 0 auto

	.special-projects
		width: 960px

		article
			h2
				font-size: 18px

			width: 100%
			height: 190px

	.worth-knowing-block
		.worth-knowing-article
			h3
				font-size: 15px
			.image
				max-height: 145px
				overflow: hidden
	footer .footer-one img
		width: 119px
	footer
		.footer-bottom-one
			padding-right: 20px
			width: 35%
	.archive
		a h2
			font-size: 18.5px

		.excerpt
			font-size: 15px

		.post_date
			font-size: 12.5px

	.pagination
		font-size: 12.5px
	.container
		max-width: 1000px
	.post-bottom-subscribe
		.widgettitle
			font-size: 15px
		p
			font-size: 14px
			input
				margin-top: 10px
	//animation page
	.page-title-animation
		text-align: center
		.post-top
			flex-wrap: wrap
			justify-content: center
			.date
				margin-bottom: 15px
	.main-event-block
		.main-event-poster
			min-width: 254px

	//single events page
	.single-events
		.events-news
			h3
				font-size: 13px
	//region calendar
	//.region-calendar
	//	svg
	//		max-width: 85%
	//
	.region-list
		li
			font-size: 14px
/*-----------// Min width 960px and max width 1439px----------*/


/* @media screen and  (max-width:1439px) {
@media screen and (max-width: 1439px)
	.movies-block
		padding-top: 0
	.single-special-projects
		.page-title

			.post-meta

				h1
					font-size: 32px
	#menu-headermenu
		.highlight .nav-link, .patreon .nav-link
			font-size: 12px
	.single
		.page-title
			.post-meta h1
				font-size: 32px

			min-height: 350px

		.material-intro
			font-size: 18px
	.post-bottom-forms
		.subscription
			//padding-top: 160px
	.donate
		.caption
			font-size: 18px

		.controls > div
			font-size: 16px

	.donate-btn
		//padding: 0 55px
		//line-height: 2em
		//margin-top: 1em
		//font-size: 18px

	.single .additional-materials h2, .related-posts h2
		font-size: 18px
	.single .additional-materials article h2
		font-size: 18px
	.related-posts
		.image h2
			font-size: 14px

		.excerpt
			font-size: 15px

	.single
		.additional-materials
			.excerpt
				font-size: 12px

			.container-fluid
				padding: 33px 45px
		.post-meta
			h1
				font-size: 22px


		.related-posts .container-fluid
			padding: 33px 45px

	.main_additional_material .container-fluid
		padding: 33px 45px
	/* video list
	.post-type-archive-video
		.important-post h2
			font-size: 22px

		.video-meta
			font-size: 12.5px

			.credits
				font-size: 12.5px

		.excerpt
			font-size: 18px

		.important-post .btn
			font-size: 15px
			padding: .5em 60px

		.other-videos
			h2
				font-size: 16px

			article h2
				font-size: 15px

		article a img
			margin-bottom: 16px
	/* video detail
	.single-video
		h1
			font-size: 23px

		.video-meta
			font-size: 13px

			.credits
				font-size: 15px

		.post-bottom .author
			font-size: 15px
	//events
	.main-event-block
		.event-data-block
			.bottom-btn-block
				//margin-top: 31px

	.become-partner
		padding: 70px 0

/*-----------Max width 1365px----------*/
@media (max-width: 1365px)
	.movies-block
		.movie-item a
			//max-width: 260px
			//max-height: 370px
	//#single-video-blog-content
	//	.post-content
	//		width: 65%
	//	.single-post-sidebar
	//		width: 35%
	.wrapper
		padding: 0 40px

	.wrapper_filters
		padding: 0 30px

	.map-filters-list
		margin: 0 auto
		max-width: 700px

	.torture-schedule-section
		padding: 80px 0 80px

	.torture-schedule
		margin: 0 20px 0 40px
		height: 256px
		width: 580px

	.torture-schedule_line_50
		bottom: 51px

	.torture-schedule_line_100
		bottom: 102px

	.torture-schedule_line_150
		bottom: 153px

	.torture-schedule_line_200
		bottom: 204px

	.torture-schedule_line_250
		bottom: 255px

	.torture-schedule_line span
		font-size: 14px
		line-height: 18px
		margin-right: 5px
		top: -7px

	.torture-schedule-infografic
		width: 120px

	.torture-schedule-infografic_1
		left: 120px
		height: 212px

	.torture-schedule-infografic_2
		left: 360px
		height: 8px

	.torture-schedule-infografic__title
		font-size: 14px
		line-height: 18px
		margin-top: 8px
		left: -50px
		width: 220px

	.torture-schedule-infografic__value
		font-size: 30px
		line-height: 34px
		margin-bottom: 8px

	.torture-schedule-statistic-wrap
		padding: 24px 15px 15px 35px
		margin-bottom: 20px

	.torture-schedule-statistic-item__text
		font-size: 14px
		line-height: 18px

	.torture-schedule-statistic-item__value
		font-size: 36px
		line-height: 42px
		margin-bottom: 5px

	.torture-schedule-statistic__description
		font-size: 11px
		line-height: 15px

	.prison-stories__title
		margin-bottom: 36px

	.prison-stories-main
		.mainnews
			min-height: 500px
			padding-top: 110px
			margin-bottom: 20px

		.firstnews
			margin-left: 40px

	.prison-stories-wrap
		.bignews
			margin: 0 -10px

		.prison-stories-item
			width: calc(50% - 20px)
			margin: 0 10px 20px

	.bignews .prison-stories-item p
		padding-bottom: 15px

	.more-items
		margin-top: 50px
/*-----------Max width 1365px----------*/

/*-----------Max width 1170-----------------*/
@media (max-width: 1170px)
	.worth-knowing-item
		.block-title
			height: 20px
	.worth-knowing-article
		flex-direction: column
		justify-content: flex-start
		.image
			margin-bottom: 20px
	//#single-video-blog-content
	//	flex-wrap: wrap
	//	.post-content
	//		width: 100%
	//	.single-post-sidebar
	//		width: 100%
	//		margin-left: 50px

/*-----------Max width 1139px----------*/
@media screen and (max-width: 1139px)

	.movies-block
		.movie-item a
			//max-width: 260px
			//max-height: 370px
			overflow: hidden
			img
				//object-fit: cover
				width: 100%
				//height: 100%
	.single-post-sidebar
		h2
			font-size: 20px
	.authors-list
		.row
			grid-template-columns: repeat(4, 1fr)

		h2
			font-size: 20px

		h3
			font-size: 16px
/*-----------//Max width 1139px----------*/


/*-----------Max width 1023px----------*/
@media (max-width: 1023px)
	#menu-submenu
		.nav-links
			font-size: 13px
	#searchform
		margin-left: 0
		//&.input-visible .search-field
	.innernews.pravosyllya-content
		padding: 50px 40px 30px
		max-width: 660px
		width: 100%
		box-sizing: border-box

		> p
			font-size: 16px
			line-height: 24px

			&:last-child
				font-size: 12px
				line-height: 18px

	.news-block
		display: flex
		flex-wrap: wrap
	.news-block-main-news
		width: 100%


	.news-block-right-col
		width: 100%
		margin-top: 30px
		.news-block-articles
			padding-left: 0
		.news-video-block
			padding-top: 17px
	.news-block-top-three
		.img-wrap
			width: 25%
			min-width: 25%
			a
				//padding-bottom: 56%
		.news-title-link
			font-size: 16px
	.single
		.post-meta
			h1
				font-size: 20px

	//.top-news-title
	//	margin-top: 7px
	//.news-title-link
	//	font-family: var(--font-main)
	//	font-size: 18px
	//	font-weight: normal
	//	color: var(--color-dark)
	//	transition: all 0.2s ease-in-out
	//	&:hover
	//		color: var( --color-secondary)

	//.news-block-articles
	//	width: 60%
	//.news-video-block
	//	width: 40%

	.gm-style .gm-style-iw-c
		width: 362px

	.map-iw-close
		top: -20px
		right: -20px

	.map-iw-close-icon
		width: 40px
		height: 40px

	.map-iw-not-controlled
		font-size: 12px
		line-height: 16px
		margin-bottom: 8px

	.map-iw-title
		font-size: 11px
		line-height: 15px
		margin-bottom: 8px

	.map-iw-security-level, .map-iw-percentage
		font-size: 12px
		line-height: 16px

	.map-iw-stories
		font-size: 20px
		line-height: 20px

	.map-stories-icon
		width: 36px
		height: 36px

	.institution-counter
		padding: 30px 0 46px

	.institution-counter-wrap
		margin: 0 -10px 20px

	.institution-counter-item
		width: calc(33.33% - 20px)
		margin: 0 10px

	.institution-counter-item__value
		font-size: 60px
		line-height: 62px
		height: 108px

	.institution-counter-item__text
		font-size: 18px
		line-height: 22px

	.institution-counter-description
		font-size: 12px
		line-height: 14px

	.percircle
		font-size: 108px

		&:after
			width: 100px
			height: 100px
			top: 4px
			left: 4px

		> span
			font-size: 60px
			line-height: 62px

	.torture-schedule-section
		padding: 70px 0 50px

	.torture-schedule-section__title
		font-size: 36px
		line-height: 48px
		margin-bottom: 50px

	.torture-schedule-wrap
		-webkit-flex-wrap: wrap
		flex-wrap: wrap

	.torture-schedule
		margin: 0 auto

	.torture-schedule-statistic
		-webkit-flex: none
		flex: none
		width: 100%
		max-width: 572px
		margin: 90px auto 0

	.torture-schedule-statistic-wrap
		padding: 25px 10px 20px 10px
		margin-bottom: 40px
		display: -webkit-flex
		display: flex
		-webkit-justify-content: space-between
		justify-content: space-between

	.torture-schedule-statistic-item
		margin: 0 20px

	.prison-stories
		padding: 50px 0 70px

	.prison-stories__title
		font-size: 36px
		line-height: 44px
		margin-bottom: 25px

	.prison-stories-main
		.mainnews
			min-height: 430px
			margin-bottom: 16px

		.firstnews
			width: 280px
			padding: 0 20px 20px 20px
			height: auto
			min-height: auto

			h2
				font-size: 20px
				line-height: 24px
				margin: 30px 0 16px

			> p
				font-size: 15px
				line-height: 19px

	.prison-stories-wrap
		.bignews
			margin: 0 -6px

		.prison-stories-item
			width: calc(50% - 12px)
			margin: 0 6px 16px

	.bignews .prison-stories-item
		.bignews-title
			margin-left: 16px
			margin-right: 16px

		h2
			font-size: 18px

		p
			font-size: 14px
			line-height: 18px
			padding-bottom: 10px
			margin-right: 16px
			margin-left: 16px

	.special-projects
		padding: 60px 0

	.special-projects__title
		margin-bottom: 40px

	.special-projects-item
		height: 50px
		padding: 20px

	.spec-project-img_1
		top: -5px

	.spec-project-img_2
		top: 3px
	.about-text
		font-size: 19px!important


/*-----------Max width 1023px----------*/
@media screen and (min-width: 960px) and (max-width: 1023px)
	.news-block
		width: 80%
		margin: 0 auto
		.news-block-main-news
			margin-right: 0
			.background
				height: auto

@media screen and (max-width: 1016px)
	.main-event-block
		.event-data-block
			.bottom-btn-block
				white-space: nowrap
				font-size: 12px
/*-----------Max width 968px----------*/
@media (max-width: 968px)

	.post-bottom-forms
		.subscription
			width: 100%
			padding: 30px 0
			.post-bottom-subscribe
				height: auto
		.donate-block
			width: 100%

/*-----------Max width 960px----------*/
@media screen and (max-width: 960px)
	.news-block
		.news-block-main-news
			.background
				height: auto

	.page-title-news
		img
			width: 100%

		h1
			font-size: 24px

/*-----------//Max width 960px----------*/

/*-----------Max width 959px----------*/
@media screen and (max-width: 959px)
	//header responsive style
	.site-header
		.social
			padding-top: 15px
			margin: 0 30%
			a
				width: 40px
				height: 40px
				.svg-inline--fa
					color: #fff
					border: none
					background: transparent
					font-size: 18px
					&:hover
						color: $color-secondary
						background: transparent
				.fa-instagram
					display: inline-block
					font-size: 15px
					background: transparent
		.right_block
			width: 100%
			margin-right: 15px
		#searchform
			display: -webkit-flex
			display: flex
			width: 100%
			align-items: center
			justify-content: flex-end
			.search-field
				width: 100%
			&.desktop
				display: none
		.site-logo
			display: none
			&.mobile
				display: block
		.mobile-right
			display: block
			.navbar-toggler
				&:focus
					outline: none
		.main-nav-wrapper
			background: #fff
			box-shadow: 0 6px 4px -4px rgba(92,104,152,0.1)
			.social
				display: none
				&.mobile
					display: flex
					justify-content: center
					padding-top: 20px
			.specprojects-btn
				display: none
				&.mobile
					display: block
					padding: 10px 0
					text-align: center
					background: rgba(0, 0, 0, 0.8)
					border: none
					margin-left: 0
					-webkit-border-radius: 0
					-moz-border-radius: 0
					border-radius: 0
					a
						display: block
						width: 100%
						text-align: center
						text-transform: uppercase
						font-size: 16px
						color: #fff
						font-weight: 600
						transition: all 0.3s ease-in-out
						&:hover
							color: $color-secondary

		.main-navigation
			position: absolute
			display: none
			top: 100%
			left: 0
			width: 100%
			z-index: 10
			background: rgba(54, 54, 54, 0.95)
			padding-bottom: 25px
			#menu-submenu
				flex-direction: column
				li
					width: 100%
					display: flex
					justify-content: center
					padding: 10px 0
					font-weight: 600
					.nav-link
						font-size: 16px
						color: #fff
						transition: all 0.3s ease-in-out
						border: none
						&:hover
							color: $color-secondary
		#menu-headermenu
			display: none
		.secondary-menu
			text-align: center
		.secondary-nav
			display: block
		#menu-headermenu-1
			text-align: center
			width: 100%
			flex-direction: column
			background: rgba(0, 0, 0, 0.8)
			margin: 0
			li
				border-bottom: 1px dashed lighten(#000, 20%)
				a
					background: transparent
					border: none
					transform: none
					color: #ffffff
					font-size: 16px
					text-transform: uppercase
					font-weight: 600
					transition: all 0.3s ease-in-out
					&:hover
						color: $color-secondary
	.news-block-main-news
		min-height: 350px

	.news-block-main-article a h2
		font-size: 21px

	.news-block-top-three
		article
			&:nth-child(3)
				border: none
			&:nth-child(4)
				display: none
		.more-news
			margin-top: 25px
	.news-block-articles-list
		article
			&:nth-child(9)
				border: none
			&:nth-child(10)
				display: none
			&:nth-child(11)
				display: none
		.more-news
			margin-top: 10px

	.news-block-articles-list
		//article:last-child
			//display: block

		.post_excerpt
			font-size: 16px

	.news-block-main-article
		a p
			font-size: 16px

		.post_excerpt:after
			content: "..."
			display: inline-block
	.worth-knowing-block
		flex-wrap: wrap
		.worth-knowing-item
			width: 45%
	.archive
		.list
			article
				align-items: flex-start
	.worth-knowing-item
		.block-title
			height: auto
	footer
		.bottom-footer
			.container
				flex-direction: column
		.footer-bottom-one
			width: 100%
			text-align: center
		.footer-bottom-contacts
			text-align: center
			padding-bottom: 25px
		.dev-copyright
			justify-content: center
		.mobile_footer_menus
			display: block

			.nav-link
				color: var(--color-grey)

		.container.widgets
			-webkit-flex-wrap: wrap
			flex-wrap: wrap
			-webkit-justify-content: space-around
			justify-content: space-around

			> div
				&:nth-child(3)
					-webkit-order: 1
					order: 1
					width: 100%
					text-align: center
					padding-bottom: 1.5em

					a
						font-size: 15px !important
						border: 1px solid var(--color-grey)
						padding: .5em 1em
						border-radius: 28px

				&:nth-child(2)
					> div > div > div
						text-align: right !important
						font-size: 13px

					-webkit-order: 3
					order: 3
					width: 50%
					position: relative
					right: 20px

				/* text-align: right!important;

				&:nth-child(1)
					-webkit-order: 2
					order: 2
					width: 50%
					position: relative
					left: 20px

		/* margin-left: 10px;
		/* padding-right: 20%;

		.sub_nav
			text-align: center
			padding-bottom: 1em

		.nav-link
			font-size: 15px

		.top_nav ul
			-webkit-flex-direction: row
			flex-direction: row
			-webkit-justify-content: space-around
			justify-content: space-around

		.hide_in_footer
			display: none

	.news-block
		grid-template-columns: 100%
	.news-block-main-article .background
		.image
			height: 100%
			a
				padding: 0
	.news-block-main-article .background .image img
		height: 100%
		max-width: unset
		width: 100%
		object-fit: cover
		-webkit-transform: translateX(-50%)
		transform: translateX(-50%)
		left: 50%
		position: relative

	.news-block-main-news
		min-height: 410px

	.news-block-articles
		margin-top: 20px

	.more-news
		max-width: 80%
		margin: 0 auto

	.news-video-block
		padding-left: 0
	.news-block-main-article
		a
			padding: 30px

		.post_excerpt
			margin-bottom: 0
			height: 3em
			overflow: hidden
	.movies-block
		.movie-item a
			//max-width: 250px
			//max-height: 350px
			//overflow: hidden
			img
				//object-fit: cover
				width: 100%
				//height: 100%
	.additional-materials
		.background
			min-height: 203px

		&.grid-3
			grid-template-columns: 1fr 1fr
			overflow: hidden

		article:nth-child(n+5)
			display: none

		.background h2
			font-size: 15px
			padding: 8px

		.post_excerpt
			font-size: 11px
			padding: 8px
			margin-bottom: 0

	.special-projects
		grid-template-columns: 1fr 1fr
		grid-row-gap: 20px

		article
			margin: 0
			margin-top: -20px
			margin-bottom: 25px

		.all-projects
			grid-column: 1 / -1
			width: 100%

		article
			min-height: unset
			width: 100%
			height: 233px

	.more-news
		font-size: 20px

	.special-projects article h2
		font-size: 22px

	footer .footer-one img
		width: 221px

	#searchform
		justify-content: center
		.search-field
			margin-left: -8px

		&.input-visible .search-field
			width: 100%
			margin-left: 20px
	//Archive
	.archive a h2
		font-size: 27.5px

	.list a h2
		font-size: 15px
	.archive .excerpt
		font-size: 13px
	.list .excerpt
		display: none

	.archive
		.row
			margin: 0
		.post_date
			font-size: 12.5px
	.pagination
		font-size: 12.5px

	.important-post .row
		-webkit-flex-wrap: wrap
		flex-wrap: wrap
	.archive .col-md-12
		padding: 0
	.important-post
		.row
			position: relative
		.post-text
			padding: 25px
			background-color: rgba(0, 0, 0, 0.25)
			color: #fff !important
		a h2
			color: #fff !important
	.archive .post_date
		display: none

		.important-post .notice
			font-weight: bold

	.container.list
		display: grid
		grid-template-columns: 1fr 1fr
		-webkit-column-gap: 20px
		column-gap: 20px
		img
			width: 100%
			height: auto
		h2
			margin-top: 14px
		.pagination
			grid-column: 1/3
			.nav-links
				display: -webkit-flex
				display: flex

	.container.narrow-container
		width: 615px
		max-width: 100%

	.single
		.additional-materials h2
			font-size: 14px
		.donate
			margin: 0

	.related-posts h2, .single .additional-materials article h2
		font-size: 14px

	.related-posts
		article:not(:first-child):not(:nth-child(2))
			display: none

		&.pravosyllia article:not(:first-child):not(:nth-child(2))
			display: block

	.single
		.additional-materials .container-fluid, .related-posts .container-fluid
			padding: 33px 35px

	.main_additional_material .container-fluid
		padding: 33px 35px
	/* videos list
	.post-type-archive-video
		.important-post .post-text
			position: static

		.excerpt
			margin-top: 32px

		.important-post
			.btn
				position: static

			.post-text
				background-color: unset
				color: unset !important

			a h2
				color: var(--color-secondary) !important

		.container.list
			display: block

		.important-post
			.post-text
				padding: 0

			img
				width: 100%

	/* video detail

	.single-video .related-posts
		.post-text
			font-size: 14px

		article h2
			font-size: 12px

	.main_additional_material .main_material_text
		max-width: 60vw

	#slidstvo_contact
		width: 90%

		.slidstvo_contact_info
			.socials a, .phone
				font-size: 18px

		.slidstvo_submit .btn-primary
			font-size: 18px

	.authors-list .row
		grid-template-columns: repeat(3, 1fr)
	//events
	.main-event-block
		.main-event-poster
			min-width: 225px
			width: 245px
		.event-data-block
			h3
				font-size: 22px
				margin-bottom: 20px
			.event-data
				font-size: 15px
				.address
					font-size: 14px
			.bottom-btn-block
				//margin-top: 43px
	.more-events-block
		.previous-event, .next-event
			width: 210px
			.event-data-block
				h3
					font-size: 14px
				.event-data
					font-size: 13px
				.bottom-btn-block
					.purchase-btn
						font-size: 13px
	.become-partner
		padding: 30px 0
		a
			font-size: 14px
	.events-archive-block
		.archive-links
			a
				font-size: 14px
	.events-news
		.events-article-list
			h3
				font-size: 14px

	//region calendar
	.region-calendar-popup
		.inner
			width: 500px
			.event
				flex-direction: column
				align-items: flex-start
				h5
					width: 100%
				.event-data
					margin: 0
				.learn-more
					margin: 10px 0
	//region calendar
	//.region-calendar
	//	svg
	//		max-width: 100%
	.region-list
		li
			flex-basis: 32%
			font-size: 14px

	//slidstvo-club
	.slidstvo-club-pages
		.slidstvo-club-item
			//flex-basis: 46%
			//margin-bottom: 20px
			.block-title
				font-size: 16px
	//who we are page
	.page-template-about-team-page
		.block-title
			font-size: 18px
		p
			font-size: 14px
		.authors-list, .achievement-article-list, .our-awards, .our-achievement
			.year
				font-size: 14px
			.row
				grid-template-columns: repeat(2,1fr)
				article
					h4
						font-size: 15px
	// funding project page
	.page-template-funding-project-page
		.our-partners
			.row
				grid-template-columns: repeat(2,1fr)
		.our-donators
			.row
				grid-template-columns: repeat(2,1fr)
	// member club page
	.page-template-member-club-page
		h2
			font-size: 16px
		p
			font-size: 14px


/*-----------//Max width 959px----------*/

/*-----------Max width 767px----------*/
@media (max-width: 767px)
	.wrapper, .wrapper_filters
		padding: 0 20px

	.pravosyllya-banner .innernewstxt h1
		font-size: 28px
		line-height: 34px

	.title-grille-icon
		width: 28px
		height: 25px

	.pravosyllya-banner-description
		font-size: 12px
		line-height: 16px
		margin-top: 10px

	.innernews.pravosyllya-content
		padding: 30px 20px 10px

		> p
			font-size: 12px
			line-height: 16px
			padding-bottom: 15px

			&:last-child
				font-size: 10px
				line-height: 14px

	#institution-map
		height: 340px

	.institution-map-filters
		padding: 30px 0 0
		display: -webkit-flex
		display: flex
		-webkit-justify-content: center
		justify-content: center
		position: relative

	.map-filters-button
		display: -webkit-flex
		display: flex
		-webkit-align-items: center
		align-items: center
		-webkit-justify-content: space-between
		justify-content: space-between
		max-width: 340px
		width: 100%
		height: 50px
		padding: 0 20px
		margin-bottom: 22px
		box-sizing: border-box
		border: 2px solid rgba(0, 0, 0, 0.3)
		cursor: pointer
		transition: all 0.3s linear

	.map-filters-button__value
		font-family: pfdintextcondprobold
		font-size: 20px
		line-height: 22px
		text-transform: uppercase
		transition: all 0.3s linear

	.institution-map-filters.active
		.map-filters-button
			border: 2px solid #000

		.map-filters-button__value
			color: #B9463C

		.more-items-icon
			display: none

		.filter-check-icon
			display: block
			width: 19px
			height: 15px

	.map-filters-list
		display: none
		position: absolute
		top: 85px
		left: 50%
		-webkit-transform: translateX(-50%)
		transform: translateX(-50%)
		max-width: 340px
		width: 100%
		background-color: #fff
		z-index: 9
		box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25)

	.institution-map-filters.active .map-filters-list
		display: block

	.map-filters-list li
		margin: 0 13px
		padding: 0 10px
		height: 50px
		border-bottom: none
		border-bottom: 1px solid #DCDCDC

		&:hover, &:active
			border-bottom: 1px solid #DCDCDC
			color: #000

		&.active:hover
			border-bottom: 1px solid #DCDCDC
			color: #B9463C

		&:last-child
			border-bottom: none

		&.active
			&:last-child
				border-bottom: none

			&:hover .map-filter-icon, &:active .map-filter-icon
				stroke: #B9463C
				fill: #B9463C

		&:hover .map-filter-icon, &:active .map-filter-icon
			stroke: #000
			fill: #000

	.gm-style .gm-style-iw-c
		width: 260px
		padding: 12px 14px 12px
		left: -130px
		bottom: -30px
		-webkit-transform: translate(0, 0)
		transform: translate(0, 0)

		&:after
			display: none

	.map-iw-close
		top: -19px
		right: -19px

	.map-iw-close-icon
		width: 38px
		height: 38px

	.map-iw-not-controlled
		padding: 2px 6px

	.map-iw-title
		font-size: 10px
		line-height: 12px
		padding: 0px 6px 5px

	.map-iw-security-level, .map-iw-percentage
		font-size: 11px
		line-height: 15px
		padding: 0 6px

	.map-iw-stories
		padding: 5px 6px 0
		font-size: 13px
		line-height: 13px

		span
			margin-right: 8px

	.map-iw-stories-link
		margin: 3px 8px 3px 0

	.map-stories-icon
		width: 30px
		height: 30px

	.institution-counter
		padding: 20px 0

	.institution-counter-wrap
		margin: 0 -20px 30px

	.institution-counter-item
		width: calc(33.33% - 10px)
		margin: 0 5px

	.institution-counter-item__value
		font-size: 24px
		line-height: 24px
		margin-bottom: 5px
		height: 50px

	.institution-counter-item__text
		font-size: 12px
		line-height: 16px

	.institution-counter-description
		font-size: 10px
		line-height: 12px

	.percircle
		font-size: 50px

		&:after
			width: 44px
			height: 44px
			top: 3px
			left: 3px

		> span
			font-size: 24px
			line-height: 24px

	.torture-schedule-section
		padding: 30px 0 30px

	.torture-schedule-section__title
		font-size: 18px
		line-height: 22px
		margin-bottom: 30px

	.torture-schedule-wrap
		padding: 0 20px

	.torture-schedule
		height: 151px
		width: 250px

	.torture-schedule_line_0
		bottom: 0

	.torture-schedule_line_50
		bottom: 30px

	.torture-schedule_line_100
		bottom: 60px

	.torture-schedule_line_150
		bottom: 90px

	.torture-schedule_line_200
		bottom: 120px

	.torture-schedule_line_250
		bottom: 150px

	.torture-schedule_line span
		font-size: 12px
		line-height: 14px
		margin-right: 3px
		top: -6px

	.torture-schedule-infografic
		width: 62px

	.torture-schedule-infografic_1
		left: 36px
		height: 126px

	.torture-schedule-infografic_2
		left: 160px
		height: 4px

	.torture-schedule-infografic__title
		font-size: 10px
		line-height: 12px
		margin-top: 5px
		left: -24px
		width: 110px

	.torture-schedule-infografic__value
		font-size: 18px
		line-height: 22px
		margin-bottom: 5px

	.torture-schedule-statistic
		margin: 80px auto 0

	.torture-schedule-statistic-wrap
		padding: 18px 15px 15px 19px
		display: block
		margin-bottom: 20px

	.torture-schedule-statistic-item
		margin: 0

	.torture-schedule-statistic-item__text
		font-size: 12px
		line-height: 16px

	.torture-schedule-statistic-item__value
		font-size: 32px
		line-height: 34px

	.torture-schedule-statistic__description
		font-size: 10px
		line-height: 12px

	.prison-stories
		padding: 35px 0 40px

	.prison-stories__title
		font-size: 18px
		line-height: 24px
		margin-bottom: 15px

	.prison-stories-main
		.mainnews
			min-height: 260px
			padding-top: 40px
			margin-bottom: 10px

		.firstnews
			width: 210px
			margin-left: 20px
			padding: 0 15px 15px 18px
			left: 0
			min-height: auto
			height: auto

			h2
				font-size: 15px
				line-height: 18px
				margin: 20px 0 10px

			> p
				font-size: 12px
				line-height: 15px
				padding-left: 30px
				background-size: 12%

	.prison-stories-wrap
		.bignews
			margin: 0

		.prison-stories-item
			width: 100%
			max-width: 600px
			margin: 0 auto 10px

	.bignews .prison-stories-item
		.bignews-title
			margin-left: 14px
			margin-right: 14px

		h2
			font-size: 14px
			line-height: 18px

		p
			font-size: 12px
			line-height: 16px
			margin-right: 14px
			margin-left: 14px
			min-height: auto

	.more-items
		display: -webkit-flex
		display: flex
		-webkit-justify-content: center
		justify-content: center
		margin-top: 30px

	.more-items__button
		font-size: 20px
		line-height: 20px

	.more-items-icon
		width: 24px
		height: 12px

	.more-items__button .more-items-icon
		margin-right: 8px

	.special-projects
		padding: 40px 0
		margin-bottom: 40px

	.special-projects__title
		font-size: 36px
		line-height: 48px
		margin-bottom: 20px

	.special-projects-wrap
		-webkit-flex-wrap: wrap
		flex-wrap: wrap

	.special-projects-item
		width: 100%
		height: auto
		padding: 20px 15px
		border-right: none

		&:last-child
			border-bottom: none

		&:after
			display: block
			content: ''
			position: absolute
			bottom: 0
			left: 50%
			-webkit-transform: translateX(-50%)
			transform: translateX(-50%)
			height: 1px
			width: 94px
			background-color: #DFDFDF

		&:last-child:after
			display: none

		img
			display: block
			max-width: 100%
			max-height: 100%
			height: auto
			margin: 0 auto

	.spec-project-img_1, .spec-project-img_2
		top: 0

/*-----------//Max width 767px----------*/
/*----------- Max width 719px----------*/
@media screen and (max-width: 719px)
	.header-specprojects
		.specproject
			&:last-child
				display: none
	.news-block-top-three
		.img-wrap
			width: 35%
			min-width: 35%
			height: 110px
			a
				//padding-bottom: 60%
		//.news-title-link
		//	font-size: 16px
	.news-block-right-col
		flex-wrap: wrap
	.news-block-articles
		width: 100%
		.news-block-articles-list
			padding-left: 0
	.specprojects-right-block
		width: 100%
	#js-specproject-slider
		article
			position: relative
			height: 250px
	.news-video-block
		width: 100%
		margin-top: 30px
		h3
			line-height: 1.5

	#about-homepage
		padding: 80px 0 !important

	.container
		padding-left: 15px
		padding-right: 15px

	.additional-materials.grid-3
		display: block
		overflow: hidden

	.special-projects
		grid-template-columns: 1fr

		article
			width: 100%

	\:root
		--h2-font-size: 21px
		--block-title-fs: 18px

	footer .footer-one img
		width: 108px

	.special-projects article
		margin-top: 0

		&:first-of-type
			margin-top: -20px

	.btn.more-news
		font-size: 16px

	footer
		.bottom-footer .container
			-webkit-align-items: center
			align-items: center
			-webkit-flex-direction: column
			flex-direction: column

		.dev-copyright
			width: 100%
			margin-top: 1em
			-webkit-justify-content: space-around
			justify-content: space-around
			-webkit-flex-wrap: wrap
			flex-wrap: wrap

			.cprt-text
				text-align: center
				width: 100%
				margin-bottom: .5rem

			a
				margin: 0
	.archive a h2
		font-size: 21px

	.list a h2
		font-size: 16px

	.archive .excerpt
		font-size: 12px

	.container.list
		display: block

	.important-post .post-text
		padding: 10px

	.page-title-news h1
		padding: 0 15px

	.page-title
		height: auto !important

		.essb_links.essb_links_right
			text-align: center !important

	.single
		.post-bottom
			-webkit-flex-direction: column
			flex-direction: column
			-webkit-align-items: flex-start
			align-items: flex-start

		.material-intro
			left: 0
			width: 100%
		.post-meta
			h1
				font-size: 18px
		.post-content
			article
				display: block
				.socials
					display: flex
					a
						margin-right: 10px
				.content
					font-size: 14px
			.post-bottom, .support-team
				margin-left: 0
		.page-title-video-blog
			iframe
				width: 100%
				height: 350px

		//.page-title .post-meta h1
		//	font-size: 18px
		//.page-title-animation
		//	text-align: center
		//	.post-top
		//		flex-wrap: wrap
		//		justify-content: center
		//		.date
		//			margin-bottom: 15px
		//
		.additional-materials .container-fluid, .related-posts .container-fluid
			padding: 0

	.main_additional_material .container-fluid
		padding: 0

	.essb_links.essb_links_right
		text-align: left !important

	.single-video
		.video-meta
			margin-bottom: 36px

		.post-content
			margin-bottom: 0

	.post-type-archive-video
		.important-post
			.post-text
				margin-top: 2em

			h2
				font-size: 36px

		.video-meta
			font-size: 16px

			.credits
				font-size: 16px

		.important-post
			img
				max-width: 66.66%
				margin: 0 auto

			.image_link
				text-align: center

	/* single video
	.single-video .film-poster
		text-align: center

	.main_additional_material .image_link
		display: block

	.single-video
		.film-poster img
			width: 66.6%
			height: auto

		h1
			font-size: 36px
			margin-top: 1em

		.post-text
			font-size: 18px

	#slidstvo_contact
		width: 95%
		-webkit-flex-direction: column
		flex-direction: column

		.slidstvo_contact_form
			width: 100%

	#open_contact_form
		width: 30px
		height: 30px
		bottom: 30px
		right: 20px

	#slidstvo_contact .slidstvo_submit .btn-primary
		font-size: 16px

	.donate
		.controls
			grid-template-columns: repeat(2, 1fr)

	.mothly_control, .first_name, .once_control, .last_name
		grid-column: unset

	#form_errors
		font-size: 1em

	.worth-knowing-block
		flex-wrap: wrap
		.worth-knowing-item
			width: 43%

	.worth-knowing-article
		align-items: center
	.single-post-sidebar
		h2
			font-size: 18px
		article
			h3
				font-size: 15px

	.post-bottom-subscribe
		.widgettitle
			font-size: 14px
		p
			font-size: 13px
			input
				margin-top: 10px
	.donate-block
		.caption
			font-size: 16px
		.controls
			div
				font-size: 16px
		.donate-btn
			font-size: 16px
	//single event page
	.single-event-block
		flex-direction: column
		margin-top: 30px
		.single-event-left-col, .single-event-right-col
			width: 80%
			margin: 0 auto
	//event calendar
	.region-list
		li
			flex-basis: 48%
			font-size: 14px

/*-----------// Max width 719px----------*/

/*-----------// Max width 700px----------*/
@media screen and (max-width: 700px)
	.site-header
		.menu-right
			width: 70%
	.main-event-block
		.main-event-poster
			min-width: 245px
		.event-data-block
			h3
				font-size: 18px
			.bottom-btn-block
				font-size: 11px
				margin-top: 23px

/*---------------Max width 600px------------*/
@media screen and (max-width: 600px)
	.header-specprojects
		.wrapper
			justify-content: center
		.specproject
			&:nth-child(2)
				display: none
	.movies-block
		.movie-link
			margin: 0 auto
	.main-event-block
		flex-direction: column
		align-items: center
		.main-event-poster
			max-width: 210px
			min-width: 180px
		.event-data-block
			.bottom-btn-block
				position: relative
	// region calendar
	.region-calendar-popup
		.inner
			h4
				font-size: 14px
			width: 250px
			padding: 20px
			.event
				.place
					display: none
				.address
					display: none
				.learn-more
					display: none
	//event calendar
	.region-list
		li
			flex-basis: 98%
			margin-bottom: 10px
			text-align: center
			font-size: 13px

	//slidstvo-club
	.slidstvo-club-pages
		.slidstvo-club-item
			//flex-basis: 90%
			//margin: 0 auto 20px auto
			.block-title
				font-size: 15px
	//who we are page
	.page-template-about-team-page
		.who-we-are
			.item
				padding-top: 20px
				display: block
				p
					font-size: 13px
				.item-heading
					font-size: 14px
		.our-team
			.authors-list
				.journalist-photo
					max-width: 50%
				.journalist-name
					font-size: 15px
				.journalist-post
					font-size: 14px
		.block-title
			font-size: 17px
		p
			font-size: 13px
		.authors-list, .achievement-article-list, .our-awards, .our-achievement
			.thumbnail
				max-height: 100%
			.year
				font-size: 13px
			.row
				width: 80%
				margin: 0 auto
				grid-template-columns: repeat(1,1fr)
				article
					h4
						font-size: 15px
	//funding project page
	.page-template-funding-project-page
		.our-partners
			.row
				grid-template-columns: repeat(1,1fr)
				.item
					.logo
						height: auto
		.our-donators
			.row
				grid-template-columns: repeat(1,1fr)
/*-----------Max width 500px----------*/
@media screen and (max-width: 500px)
	.top-three-item
		.top-news-title
			a
				font-size: 14px
	.news-block
		.news-block-title
			font-size: 18px
	.worth-knowing-block
		.block-subtitle
			font-size: 16px
		.post-title
			font-size: 14px
	.main_additional_material
		.image
			height: unset

			img
				position: static
				-webkit-transform: none
				transform: none

		.main_material_text
			position: static
	.worth-knowing-block
		.worth-knowing-item
			width: 100%
			margin-right: 0
			.image
				max-height: 100%
		.container-fluid
			padding-top: 0

		.main_material_text
			max-width: unset
	.single-post-sidebar
		h2
			font-size: 16px
		article
			h3
				font-size: 14px
	.post-bottom-subscribe
		.widget
			padding: 2em 1em 1em
		.widgettitle
			font-size: 14px
		p
			font-size: 12px
			input
				margin-top: 10px
	.donate-block
		.caption
			font-size: 14px
		.controls
			div
				font-size: 14px
		.donate-btn
			font-size: 14px
	.bottom-social
		flex-direction: column
	.page-title-animation
		text-align: center
		.post-top
			.right-block
				.external
					svg
						margin: 0!important

/*-----------// Max width 500px----------*/

/*----------- Max width 550px----------*/
@media screen and (min-width: 481px) and (max-width: 550px)
	//events

	.more-events-block
		.next-event, .previous-event
			.event-data-block
				padding: 10px 15px
				h3
					font-size: 13px
					margin-bottom: 8px
				.event-data
					font-size: 12px
				.bottom-btn-block
					font-size: 11px
					margin-top: 15px
/*----------- Max width 480px----------*/
@media screen and (max-width: 480px)
	.authors-list .row
		grid-template-columns: repeat(2, 1fr)
	.news-block-top-three
		.news-title-link
			font-size: 14px
	.video-blocks
		h3 a
			font-size: 14px
	.movies-block
		.movie-item a
			max-width: 200px
			max-height: 300px
			img
				width: 100%
				height: auto
	.post-meta-wrapper
		flex-direction: column
		align-items: center

	.more-events-block
		flex-direction: column
		align-items: center
		.previous-event
			margin-right: 0
			margin-bottom: 20px
		.previous-event, .next-event
			max-width: 190px
			.event-data-block
				padding: 20px 15px
			.bottom-btn-block
				font-size: 11px
				margin-top: 15px
	.modalDialog
		div.inner
			width: 300px
			h4
				font-size: 13px
	// who we are page
	.page-template-about-team-page
		.authors-list, .achievement-article-list, .our-awards, .our-achievement
			.row
				width: 100%
/*-----------// Max width 480px----------*/

@media screen and (max-width: 719px)
	.post-body-carousel .owl-nav
		-webkit-justify-content: space-between
		justify-content: space-between

	.single
		.additional-materials, .related-posts
			padding: 15px

	.single-news .bottom-social, .single-investigations, .post-meta
		-webkit-flex-direction: column
		flex-direction: column
	main > .container.list
		padding-top: 0

	.only_mobile
		display: block
