//colors

$color-secondary: #B3292D
$color-secondary-accent: #d12525
$color-dimmed: #464646
$heading-font: #6a6a6a
$color-dark: #131313
$color-dark-grey: #8f8f8f
$color-grey: #9F9F9F
$grey: #ccc
$color-light-grey: #e3e3e3
$color-button-primary: #BE1F24
$dark-color: #1A1A1A
$post-text-color: #231f20

$font-main: 'Roboto'
$font-rc: 'Roboto Condensed'
$font-secondary: 'Open Sans'
$transition-time: .3s
$transition-function: ease-in-out
$h2-font-size: 25px
$block-title-fs: 20px
$hover-scale-coef: 1.03

