.breadcrumbs {
	&:not(:last-child) {
		margin-bottom: 2.2rem;
	}
}

.breadcrumbs__list {
	display: flex;
	flex-wrap: wrap;
}

.breadcrumbs__item {
	&:not(:last-child) {
		position: relative;

		margin-right: 0.8rem;
		padding-right: 1rem;

		&:first-child {
			margin-right: 1rem;
			padding-right: 1.4rem;
		}

		&:after {
			content: '';
			position: absolute;
			right: 0;
			top: 50%;

			width: 2px;
			height: 1rem;
			margin-top: -.6rem;

			border-radius: .4rem;
			transform: rotate(45deg);
			transform-origin: 50% 50%;
			background-color: $gray_4;
		}
	}
}

.breadcrumbs__icon {
	width: 1.8rem;
	height: 1.8rem;

	color: $red;
}

.breadcrumbs__link {
	font-size: 1.4rem;
	font-weight: 500;
	color: $gray_4;

	&.breadcrumbs__link--current_mod {
		color: $black
		
	}
}

.map-page {
	.breadcrumbs-wrap {
		box-shadow: none;
	}

	.container.breadcrumbs {
		max-width: 134rem;
		padding: 0;
	}
.breadcrumbs{
		font-size: 1.4rem;
		font-weight: 500;
		color: #797979;

		span span {
			padding: 0 4px;

			&:first-child {
				padding-left: 0;

				a {
					font-size: 0;
					width: 18px;
					height: 18px;
					display: inline-block;
					vertical-align: middle;
					margin-top: -3px;
					background-size: 18px;
					background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEuMjg1NzEgMTAuMjg1N0w5IDIuNTcxNDNMMTYuNzE0MyAxMC4yODU3IiBzdHJva2U9IiNhZjExMTYiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGZpbGw9Im5vbmUiIC8+CjxwYXRoIGQ9Ik0zLjg1NzE0IDcuNzE0MjhWMTUuNDI4NkgxNC4xNDI5VjcuNzE0MjgiIHN0cm9rZT0iI2FmMTExNiIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgIGZpbGw9Im5vbmUiLz4KPC9zdmc+Cg==");
				}
			}
		}
	}
}