//- Диверсанти — шапка матеріалу (заголовок + кредити)

.diversanty_head {
	padding: 2rem 2rem;
	margin: 0 var(--gl-hr-indent);
	border-width: 0px 1px 1px 1px;
	border-color: #dedede;
	border-style: solid;
	&__title {
		margin: 1.6rem 0 2rem;

		font-family: $font_1;
		font-weight: 700;
		font-size: 4rem;
		line-height: 0.95;
		letter-spacing: 0.01em;
		text-transform: uppercase;
	}

	&__credits {
		padding: 0;
		margin: 0;
		list-style: none;

		font-size: 1.5rem;
		line-height: 1.75;
		color: $gray;
	}

	&__name {
		color: $red;

		&:hover {
			text-decoration: underline;
		}
	}

	.breadcrumbs:not(:last-child) {
		margin-bottom: 3rem;
	}
}
