.image_upload__field {
	&:not(:last-child) {
		margin-bottom: 2rem;
	}
}

.image_upload__field_input {
	display: none;
}

.image_upload__field_label {
	@include btn_size_v3;
	@include btn_style_border;

	width: 100%;
	gap: 1rem;
}

.image_upload__field_label_icon {
	width: 2.6rem;
	height: 2.6rem;
}

.image_upload__gallery {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 2rem;


	img:nth-child(5n + 1),
	img:nth-child(5n + 2) {
		grid-column: span 3;
	}

	img:nth-child(5n + 3),
	img:nth-child(5n + 4),
	img:nth-child(5n + 5) {
		grid-column: span 2;
	}

	img {
		display: block;
		width: 100%;
		@include cover_img;
	}
}