.projects__head {
	display: flex;
	align-items: center;

	border-bottom: 1px solid $gray_2;

	@include bp($point_2, min) {
		margin-right: -2rem;
		margin-left: -2rem;
		padding-left: 2rem;
	}

	@include bp($point_4 - 1) {
		flex-direction: column;
		gap: 1.3rem;
	}

	&:not(:last-child) {
		@include bp($point_2, min) {
			margin-bottom: 2rem;
		}

		@include bp($point_3) {
			margin-bottom: 1.4rem;
		}
	}
}

.projects__title {
	@include h3;

	&:not(:last-child) {
		margin-right: 2rem;
	}
}

.projects__button {
	margin-left: auto;

	@include bp($point_4 - 1) {
		width: 100%;
	}
}
