.page-template-about-team-page
	.authors-list, .achievement-article-list
		.row
			display: grid
			grid-template-columns: repeat(4,1fr)
		p
			font-size: 14px
	.authors-list
		margin-top: 40px
		.short-bio
			margin-bottom: 0
		.btn-block
			font-size: 14px
			//border-top: 1px solid #ccc
			a
				display: inline-block
				padding: 5px 20px
				color: $color-secondary
				font-weight: 600
				&:hover
					text-decoration: underline

	.contents
		ol
			width: 200px
			margin: 0 auto
			li
				a
					font-size: 16px
					&:hover
						text-decoration: underline
			//ul
			//	padding-left: 0
			//	list-style: none
			//	li
			//		&:before
			//			content: '-'
			//			display: inline-block
			//			margin-right: 10px
			//		a
			//			font-weight: 400
			//			&:hover
			//				text-decoration: underline
	.our-history
		font-size: 15px
		text-align: center
		padding: 0 20px
	.block-title
		text-align: center
		margin: 15px 0
		padding: 0
	.contents, .who-we-are, .our-awards, .our-achievement, .our-history, .our-team
		margin-bottom: 50px
		.thumbnail
			width: 100%
			max-height: 200px
			overflow: hidden
			img
				width: 100%
				height: auto
				transition: all 0.4s ease-in-out
				&:hover
					-webkit-transform: scale(1.05)
					transform: scale(1.05)
	.who-we-are
		.item
			display: flex
			justify-content: flex-start
			align-items: center
			margin-bottom: 10px
			&:nth-child(even)
				background: rgba($color-light-grey, 0.3)
			.item-heading
				min-width: 110px
				color: $color-secondary
				text-transform: uppercase
				font-size: 16px
				font-weight: 600
				text-align: center
			p
				padding: 20px 30px
				margin: 0
				font-size: 15px
	.our-awards
		.row
			display: grid
			grid-template-columns: repeat(4,1fr)
			article
				span
					display: inline-block
					margin: 5px 0
					font-size: 13px
					font-weight: 200
					color: $color-secondary
				h4
					font-family: var(--font-rc)
					font-size: 15px
					font-weight: 600
					color: #333
					text-transform: uppercase
					&:hover
						text-decoration: underline
	.our-achievement
		.years
			&:nth-child(odd)
				background: rgba($color-light-grey, 0.3)
		.year
			text-align: center
			display: block
			font-size: 19px
			font-weight: 600
			color: #333
			margin: 10px 0
			padding: 30px 0
			&:before, &:after
				content: ''
				display: inline-block
				width: 75px
				height: 2px
				background: $color-secondary
				margin: 5px 15px
		article
			span
				display: inline-block
				margin: 5px 0
				font-size: 16px
				font-weight: 600
				color: $color-secondary
				margin-right: 10px
			h4
				font-family: var(--font-rc)
				font-size: 15px
				font-weight: 600
				color: #333
				text-transform: uppercase
				margin-top: 15px
				&:hover
					text-decoration: underline
