/* about us and wpb builder tunes
.about-us-text
	p
		text-align: justify
.about-us-title .vc_column_container
	position: absolute
	bottom: 0
	left: 0
	right: 0
.about-us-title
	max-height: 450px!important
.about-text
	font-size: 19px!important

	h1
		margin-bottom: 0

.vc_row-fluid
	display: -webkit-flex
	display: flex
	-webkit-justify-content: space-around
	justify-content: space-around

.about-text
	font-size: 25px

.slidstvo_team h2
	font-weight: normal
.authors-list
	.journalist-name
		font-size: 18px
		text-transform: uppercase
		margin-top: 5px
		color: $color-secondary
		&:hover
			text-decoration: underline
	.journalist-post
		font-size: 17px
