/* archive page styles

.important-post
	padding: 42px 0
	margin-bottom: 42px

	.row
		> .col-sm-6
			padding: 0 15px
			margin-left: 0
			margin-right: 0

		/* padding: 0;
		 *margin-left: 15px;
		 *margin-right: 15px;

		-webkit-align-items: center
		align-items: center
		-webkit-flex-wrap: nowrap
		flex-wrap: nowrap

	img
		position: relative

	.notice
		position: absolute
		padding: 1em
		top: 0
		left: 0
		display: inline-block
		font-size: 18.5px
		color: #fff
		text-transform: uppercase
		z-index: 1
		font-family: var(--font-main)
		background-color: rgba(0, 0, 0, 0.25)

.archive
	article.row
		//margin-left: 0!important
	a h2
		margin-top: 8px
		font-size: 18px
		line-height: normal
		text-transform: uppercase

	.excerpt
		text-align: justify
		font-size: 16.5px
		line-height: normal
		font-family: var(--font-main)

	.post_date
		color: var(--color-dimmed)
		font-size: 16px

	.list article
		align-items: flex-start
		margin-bottom: 30px

	main a
/* display: block;

/* COMBAK: check it

.pagination
	.nav-links
		display: -webkit-flex
		display: flex

	padding: 1em 0
	-webkit-justify-content: center
	justify-content: center
	text-transform: lowercase
	font-weight: bold
	color: #9d9d9d

	.current
		color: var(--color-secondary)

	.nav-links > *
		margin: 0 .5em

.archive main
	background-color: #f9f9f9

