.single-story
  background-color: #F2F2F4
  box-sizing: border-box
  padding-bottom: 50px
  &__bread 
    background-color: #F2F2F4
  &__primary 
    padding: 8px 0
  &__content
    max-width: 1280px
    padding: 0 15px
    margin: 0 auto
    padding-bottom: 70px

.single-story-primary
  &__bg
    width: 100%
    display: block
    font-size: 0
    height: 0
    overflow: hidden
    padding-bottom: 56.4%
    margin-bottom: 1rem
    background-position: center center
    background-size: cover
    border-radius: 8px
  &__container
    max-width: 1730px
    padding: 0 15px
    margin: 0 auto
  &__video
    position: relative
    padding-bottom: 36.25%
    height: 0
    overflow: hidden
    iframe
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
  &__image 
    img 
      max-width: 100%
      width: 100%
      max-height: 624px
      height: 100%
      object-fit: cover
      object-position: center
      display: block
      border-radius: 8px
.single-story-content-top
  display: flex
  justify-content: space-between
  align-items: flex-end
  margin: 24px 0  32px 0
  &__col
  &__col:first-child 
    flex-basis: 940px
    margin-right: 14px
    max-width: 944px
  &__col:last-child
    flex-basis: 296px
    text-align: right
    margin-left: 14px
  &__title
    font: normal normal bold 38px/48px $font-main
    letter-spacing: 0px
    color: #231F20
    opacity: 1
    padding: 0 55px
  &__share
    display: flex
    justify-content: flex-end
    align-items: center
    .essb_message_before
      display: none
    span
      font: normal normal bold 17px/32px $font-main
      letter-spacing: 0px
      color: #231F20
      opacity: 1
      text-transform: capitalize
.single-story-content
  &__row 
    display: flex
    justify-content: space-between
  &__col
    align-self: flex-start
  &__col:first-child 
    flex-basis: 940px
    margin-right: 14px
  &__col:last-child
    background-color: #fff
    flex-basis: 296px
    margin-left: 14px
    padding: 40px 32px
.story-sidebar 
  &__title 
    font: normal normal bold 26px/32px $font-main
    letter-spacing: 0px
    color: #231F20
    opacity: 1
    margin-bottom: 22px
    
  
  &__list 
    list-style-type: none
    text-align: left
    padding: 0
    margin: 0
.sidebar-thumbnails-wrap
  width: 100%
  display: block
  font-size: 0
  height: 0
  overflow: hidden
  padding-bottom: 56.2%
  margin-bottom: 1rem
  img
    width: 100%
    height: auto
    transition: all .3s ease-in-out
  &:hover
    img
      transform: scale(1.05)

.story-sidebar-item 
  border-bottom: 1px dashed #BCBCBC
  &:not(:last-child) 
    margin-bottom: 24px
  &__title 
    font: normal normal bold 15px/22px $font-main
    letter-spacing: 0px
    color: #1A1A1A
    opacity: 1
    text-transform: uppercase
    transition: .3s color ease-in-out
    &:hover 
      color: #B3292D
      text-decoration: underline
  &__date 
    font: normal normal normal 15px/20px $font-secondary
    letter-spacing: 0px
    color: #231F20
    opacity: 0.56
.story-content 
  background-color: #fff
  padding: 32px 58px
  &__top
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 25px
  &__author 
    & span 
      &:first-child
        font: normal normal bold 17px/32px $font-main
        letter-spacing: 0px
        color: #231F20
      &:last-child 
        font: normal normal normal 17px/32px $font-main
        letter-spacing: 0px
        color: #B3292D
        text-transform: capitalize
        text-decoration: underline
  &__date 
    & span 
      font: normal normal normal 15px/20px $font-secondary
      letter-spacing: 0px
      color: #231F20
      opacity: 0.56
.story-content-body
  p 
    font: normal normal normal 20px/32px $font-secondary
    letter-spacing: 0px
    color: #231F20
    opacity: 1
    margin-bottom: 32px
    &:last-child 
      margin-bottom: 0
.story-content-subs
  background-color: #B3292D
  padding: 56px 58px
  &__row 
    display: flex
    justify-content: space-between
  &__col
    display: flex
    justify-content: center
    &:first-child
      padding-right: 95px
    &:last-child 
      max-width: 450px
      width: 100%
  &--title 
    font: normal normal bold 26px/32px $font-main
    color: #fff
    margin-bottom: 24px
.subs-left__social 
  display: flex
  a
    color: #fff
    width: 56px
    height: 56px
    border: 1px solid #fff
    display: flex
    align-items: center
    justify-content: center
    svg
      width: 32px
      height: 32px
.subs-left
  display: flex
  flex-direction: column
.subs-right
  display: flex
  flex-direction: column
  &__form
    .post-bottom-subscribe
      text-align: center
      padding: 0
      background: transparent
      margin-bottom: 0
      .widgettitle
        display: none
      .mc4wp-form
        *
          margin: 0
          padding: 0
        .mc4wp-form-fields
          span 
            display: none
        p
          position: relative
          background-color: #fff
          border-radius: 8px 28px 28px 8px
          display: flex
          padding: 9px
          label
            left: 0
            top: 0
            width: 100%
            height: 100%
            
            input
              width: 100%
              outline: none
              border: none
              padding: 7px 12px
              font: normal normal normal 15px/24px $font-secondary
              letter-spacing: 0px
              color: #231F20
              opacity: 0.56
            
          & > input 
            position: relative
            padding: 7px 32px
            font: normal normal bold 15px/24px $font-secondary
            letter-spacing: 0px
            color: #B3292D
            opacity: 1
            background-color: #EDEDED
            border-radius: 20px
            text-transform: uppercase
            outline: none
            border: none
            transition: .3s all ease
            &:hover
              background-color: #1a1a1a
              color: #fff

.single-story-same
  margin: 0 -12px
  &__container
    max-width: 1730px
    padding: 0 15px
    margin: 0 auto
  &__title
    font: normal normal bold 40px/48px $font-main
    letter-spacing: 0px
    color: #231F20
    opacity: 1
    text-align: center
  .s-stories-posts
    padding-top: 50px
@media(max-width: 1366px)
  .single-story-content-top
    &__title
      font-size: 28px
      line-height: 38px
  .story-sidebar
    &__title 
      font-size: 18px
      line-height: 20px

@media(max-width: 1200px)
  .story-content-subs 
    padding: 32px
    &--title 
      font-size: 20px
      line-height: 24px
      flex: 1
    &__col
      &:first-child
        padding-right: 32px
    &.subs-right
      height: 100%
      display: flex
      flex-direction: column
@media(max-width: 992px)
  .story-content-subs
    &--title
      text-align: center
    &__row 
      flex-direction: column
      align-items: center
    &__col 
      align-self: center
      &:first-child
        padding-right: 0
        margin-bottom: 32px
      .subs-left
        &__social
          justify-content: center
@media(max-width: 920px)
  .single-story-content-top
    flex-direction: column
    align-items: center
    &__col 
      &:first-child
        flex-basis: auto
        margin-right: 0
      &:last-child
        flex-basis: auto
        margin-left: 0
    &__title
      padding: 0
      text-align: center
  .single-story-content
    &__row 
      flex-direction: column
    &__col
      &:first-child
        margin-right: 0
      &:last-child
        margin-left: 0
        width: 100%
@media(max-width: 768px)
  .single-story-primary
    &__video
      position: relative
      padding-bottom: 56.25%
      height: 0
      overflow: hidden
  .single-story-content-top
    &__title
      font-size: 24px
      line-height: 34px
  .story-content
    padding: 32px 15px
  .story-content-subs
    padding: 32px 15px
  .single-story-content
    &__col 
      &:first-child
        flex-basis: auto
      &:last-child
        flex-basis: auto
        padding: 32px 15px
  .story-content
    &__author
      span
        &:first-child
          font-size: 12px
          line-height: 1
        &:last-child
          font-size: 12px
          line-height: 1
    &__date 
      span
        font-size: 12px
        line-height: 1
  .story-content-body
    p
      font-size: 16px
      line-height: 22px
      margin-bottom: 22px
  .single-story-same
    
    &__title 
      font-size: 28px
      line-height: 34px
    
@media(max-width: 425px)
  .subs-left
    &__social
      display: flex
      flex-wrap: wrap
@media(max-width: 375px)
  .subs-right
    &__form
      .post-bottom-subscribe
        .mc4wp-form
          p
            flex-direction: column
            border-radius: 8px
  
    
