body.single
	.donate
		margin-bottom: 12px
//single pages
.single-special-projects
	main
		padding-top: 0
	.page-title
		overflow: hidden!important
		position: relative
		margin-bottom: 45px
		.post-meta
			background: rgba(0,0,0,.25)
			width: 100%
			position: absolute
			bottom: 0
			left: 0
			right: 0
			max-width: unset
			padding-top: 20px
			h1
				font-size: 45px
				color: #fff
				text-transform: uppercase
				line-height: normal
				text-align: center
		img
			position: absolute
			min-height: 300px
			top: 50%
			-webkit-transform: translateY(-50%)
			transform: translateY(-50%)
			width: 100%
			height: auto
.single
	.material-intro
		color: var(--color-grey)
		font-style: italic
		font-size: 20px
		padding-top: 15px
		margin-bottom: 35px
		position: relative
		left: -20px
		width: calc(100% + 40px)
	.post-meta
		.social
			float: left

	.post-meta .social .essb_message_before
		color: #fff
		font-size: 19px
		font-weight: bold

	.post-bottom
		.author
			font-size: 14.5px
			color: #b3b3b3

		.date
			font-size: 14.5px
			color: #b3b3b3
			margin-top: 10px

.bottom-social .right-block
	display: -webkit-flex
	display: flex
	-webkit-align-items: center
	align-items: center

	*
		margin-left: 1em !important

	svg, i
		color: #0088cc !important

.single .post-bottom .bottom-social .essb_icon:before
	color: #b3b3b3
	transition: all var(--transition-time) var(--transition-function)

.essb_links
	ul
		display: -webkit-flex
		display: flex
		-webkit-align-items: center
		align-items: center
		justify-content: center

	.essb_icon:before
		font-size: 24px !important
		top: 6px !important

.single
	.post-bottom
		.bottom-social
			.essb_icon_facebook:before
				color: #4267B2

			.essb_icon_twitter:before
				color: #1DA1F2

		.essb_message_before
			font-weight: bold
			font-size: 14.5px
			color: #b3b3b3
			font-family: var(--font-main)
			//font-weight: 500
			text-transform: capitalize !important
			display: -webkit-flex
			display: flex
			-webkit-justify-content: space-between
			justify-content: space-between
			-webkit-align-items: center
			align-items: center

	.additional-materials
		background-color: #f9f9f9
		padding: 0
		margin: 0

		.excerpt
			padding: 0
			font-size: 14px

		.post_date
			margin-top: 20px
			font-size: 8.5px
			color: #464646
			padding: 0

		h2
			font-family: var(--font-main)
			font-size: 19px
			text-transform: lowercase

.related-posts
	margin-bottom: 50px
.related-posts h2
	font-family: var(--font-main)
	font-size: 19px
	text-transform: uppercase
	color: $color-dimmed

.single
	.additional-materials article h2
		text-transform: uppercase
		font-size: 22.5px
		font-weight: normal

	.related-posts
		background-color: #e6e6e6

	.wp-caption-text
		font-size: 75%

.related-posts
	.image
		position: relative
		overflow: hidden

		h2
			position: static
			background-color: rgba(0, 0, 0, 0.25)
			color: #fff
			font-size: 19px
			text-transform: uppercase
			padding: 6px 31px 12px 11px
			margin: 0
			width: 100%

		img
			+ h2
				position: absolute
				bottom: 0

			transition: all var(--transition-time) var(--transition-function)

		&:hover img
			-webkit-transform: scale(var(--hover-scale-coef))
			transform: scale(var(--hover-scale-coef))

	.excerpt
		padding: 6px 31px 12px 11px
		font-size: 13.5px

.single
	.additional-materials .container-fluid, .related-posts .container-fluid
		padding: 33px 86px

.main_additional_material .container-fluid
	padding: 33px 86px

.essb_links
	margin: 0

.bottom-social
	color: #b3b3b3
	font-size: 14.5px
	font-family: var(--font-main)

	a
		color: #b3b3b3
		font-size: 14.5px
		font-family: var(--font-main)

.bottom-social-article
	display: -webkit-flex
	display: flex
	-webkit-align-items: center
	align-items: center
	-webkit-justify-content: space-between
	justify-content: space-between
	width: 100%

.page-title .essb_links
	text-align: center !important

.essb_links .essb_icon
	width: 1.3em

.single .post-bottom .essb_item:hover .essb_icon:before
	color: var(--color-secondary)

.page-title .essb_links .essb_force_hide_name .essb_icon
	margin-right: 20px !important

.bottom-social .right-block
	svg, i
		font-size: 24px !important
		margin-left: .3em
		transition: all var(--transition-time) var(--transition-function)

	svg:hover, i:hover
		color: var(--color-secondary)
//.post-bottom-forms
//	margin: 0 auto
//	display: flex
//	flex-wrap: wrap
//	justify-content: space-between
//	.subscription
//		width: 50%
//		padding: 140px 0 60px 0
//		.post-bottom-subscribe
//			height: 176px
//	.donate-block
//		width: 50%
//		.donate
//			border: none
//			margin: 0

#form_errors
	color: #f44336
	background: transparent
	text-transform: none
	font-size: 18px
.donate
	&-order
		display: flex
		align-items: center
		margin-top: 24px
	&-icons
		display: flex
		align-items: center
		svg
			margin-right: 12px
			margin-left: 12px
			&:first-child
				margin-left: 24px
	//background: #fff
	//border: solid 2px #be1f24
	//padding:  42px 20px

	margin-top: 50px

	.caption
		font-size: 18px
		text-align: left
		font-style: italic
		color: #1a1a1a

	.controls
		> div
			padding: 14px 0
			text-align: center
			font-size: 19px
		.control
			border: 1px solid #1a1a1a
			cursor: pointer
			border-radius: 28px
			padding: 8px 24px
			font-size: 15px
			text-transform: capitalize
			margin-right: 24px
			&:last-child
				margin-right: 0

		h6
			text-align: left
			font-size: 18px
			font-weight: bold
			margin-bottom: 10px



	input
		&[type="number"], &[type="text"]
			width: 100%
			border: 1px solid #1a1a1a
			text-align: left
			text-transform: capitalize
			font-size: 15px
			color: #1a1a1a
			//opacity: 0.8
			text-indent: 24px
			padding: 8px 0px
			border-radius: 28px
			background: transparent

		&[type="number"]:focus, &[type="text"]:focus
			outline: none

.donate-controls
	&-wrapper
		display: flex
		align-items: center
		.first_name
			margin-right: 24px
		.first_name, .last_name
			flex: 1
			max-width: 380px
.once_control, .first_name
	text-transform: lowercase


.mothly_control, .last_name
	text-transform: lowercase
.donate-btn
	text-transform: uppercase
	display: inline-block
	padding: 10px 30px
	font-size: 15px
	font-weight: bold
	border-radius: 28px
	//line-height: 2em
	//margin: 0 auto
	cursor: pointer
	outline: none

.donate .control.checked
	background-color: #1a1a1a
	color: #fff

.page-title-news .post-meta
	.social .essb_message_before, .essb_links .essb_icon:before
		color: #000


.page-title-news

//	position: relative
//	width: 100%
//	margin-bottom: 30px
//
//	h1
//		margin: 1.5rem 0 1rem 0
//		font-size: 36px
//
//	img
//		max-width: 100%
//		height: auto

.single-news .bottom-social, .single-investigations .bottom-social
	display: -webkit-flex
	display: flex
	-webkit-align-items: center
	align-items: center
	-webkit-justify-content: space-between
	justify-content: space-between
	width: 100%

.external-authors
	color: var(--color-button-primary)
	font-size: 1.2rem

	a:hover
		color: var(--color-grey)

.external-link
	text-align: center

.post-type-archive-blogs
	.blog-thumbnail
		position: relative
.video-blog-icon
	position: absolute
	display: flex
	right: 0
	top: 0
	z-index: 5
	width: 60px
	height: 60px
	background: rgba(0, 0, 0, 0.9)
	align-items: center
	justify-content: center
	cursor: pointer
	&:before
		content: "\f522"
		font-family: "Dashicons"
		color: #ffff
		font-size: 40px

.previous-blogs, .previous-animations
	@extend .related-posts

//single post meta, single post pagetitles
.single
	.post-meta
		h1
			font-size: 24px
			color: $color-dimmed
			text-transform: uppercase
			font-family: var(--font-rc)
			line-height: normal
			margin: 15px 0
	.page-title-default, .page-title-video-blog
		.post-thumbnail
			max-height: 450px
			overflow: hidden
			img
				width: 100%

		.slidstvo-post-meta
			margin: 15px 0
	.page-title-text-blog
		.post-thumbnail
			height: 600px
			img
				width: 100%
				height: 100%
				object-fit: cover
				object-position: top center
	.page-title-video-blog
		iframe
			width: 100%
			height: 450px
.single-news .post-meta, .slidstvo-post-meta
	display: -webkit-flex
	display: flex
	-webkit-justify-content: space-between
	justify-content: space-between
	color: var(--color-grey)
	.author
		color: $color-secondary

	a:hover
		text-decoration: underline

//single post content styles
.single
	.post-content
		margin-bottom: 50px
		iframe
			width: 100%
			//height: 400px
		article
			display: flex
		.socials
			margin-top: 10px
			margin-right: 30px
			a
				display: block
				margin-bottom: 15px
				transition: all 0.3s ease-in-out
			svg
				display: flex
				flex-direction: column
				width: 45px
				height: 45px
				align-items: center
				justify-content: center
				padding: 10px
				font-size: 24px
				&:hover
					color: darken(#ccc, 10%)
					border: 1px solid darken(#ccc, 10%)
			.fa-facebook-f
				color: #4267b2
				border: 1px solid #4267b2
			.fa-twitter
				color: #1da1f2
				border: 1px solid #1da1f2
			.fa-instagram
				color: indianred
				border: 1px solid indianred
			.fa-telegram-plane
				color: #0088cc
				border: 1px solid #0088cc
			.fa-youtube-square
				color: #fe0000
				border: 1px solid #fe0000
		.content
			width: 90%
			article
				display: block
				//width: 100%
	.post-bottom
		margin-left: 75px
	.support-team
		margin-left: 75px
		margin-top: 25px
		a
			display: inline-block
			text-align: center
			font-size: 16px
			font-family: var(--font-rc)
			font-weight: 600
			color: $color-secondary
			background: transparent
			border: 2px solid $color-secondary
			padding: 5px 15px
			transition: all 0.3s ease-in-out
			text-transform: uppercase
			&:hover
				background: $color-secondary
				color: #fff
//single-post-sidebars
.single-post-sidebar
	padding: 0 20px
	margin-bottom: 50px
	.img-wrap
		width: 100%
	h2
		@extend .news-block-title
		font-weight: 600
		margin: 0
	h3

.single-post-sidebar
	.new-materials, .previous-blog-sidebar
		@extend .news-block-articles-list
		margin-top: 0
	article
		@extend .news-block-article
		border-top: none
		h3
			font-size: 14px
			font-weight: 600
			font-family: var(--font-rc)
			color: var(--color-secondary)
			text-transform: uppercase
			margin: 0
			&:hover
				text-decoration: underline
.page-title-video-blog
    h1
@media screen and (max-width: 480px)
	.donate-order
		flex-direction: column
	.donate-icons
		margin-top: 24px
