.aic
  align-items: center
.victories
  padding-top: 140px
  padding-bottom: 140px
  background: #f9f9f9
  &-outline
    -webkit-text-stroke-width: 1px
    -webkit-text-stroke-color: #1a1a1a
    -webkit-text-fill-color: white
  &-bg
    position: relative
    height: 410px
    background-size: cover
    background-position: left
    margin-top: 10px
    background-repeat: no-repeat
    &__header
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      color: #fff
      font-size: 44px
      z-index: 1
  &-item
    display: flex
    margin-bottom: 140px
    &:last-child
      margin-bottom: 0
    &:nth-child(even)
      flex-direction: row-reverse
      .victories-item__bg
        margin-right: 0
      .victories-item__description
        margin-left: 100px
      .victories-item__description h4
        margin-right: 72px
      .victories-item__description p
        margin-right: 72px
    &:nth-child(2)
      .victories-item__bg img
        max-width: 100%
        width: 505px
        height: 470px
    &:nth-child(5)
      align-items: center
    &.investigation
      .victories-item__description h4
        width: 100%
        max-width: 330px
    &__bg
      flex: none
      margin-right: 72px
      max-width: 60%
      img
        object-fit: cover
        display: block
    &__description
      h4
        color: #1a1a1a
        font-size: 44px
        line-height: 62px
        margin-bottom: 36px
      p
        font-size: 20px
        line-height: 32px
        margin-left: 60px
        text-align: left


@media screen and (max-width: 1440px)
  .victories-item__bg
    max-width: 450px
  .victories-item__description h4 br
    display: none
  .victories-item__description p br
    display: none
  .victories-item:nth-child(2n) .victories-item__description
    margin-left: 40px
@media screen and (max-width: 960px)
  .victories
    padding-top: 100px
    padding-bottom: 100px
  .victories-item
    flex-direction: column
    margin-bottom: 80px
    &:nth-child(even)
      flex-direction: column
      .victories-item__description
        margin-left: 0
        h4
          margin-right: 0
        p
          margin-right: 0
    &__bg
      max-width: 100%
      margin-right: 0
      margin-bottom: 15px
      img
        width: 100%
        margin: 0 auto
    &__description
      h4
        font-size: 35px
        line-height: 52px
        margin-right: 0
      p
        margin-left: 10px
  .victories-bg__header
    font-size: 35px
    width: 100%
    text-align: center
    padding: 0 7px
@media screen and (max-width: 600px)
  .victories
    padding-top: 50px
    padding-bottom: 50px
  .victories-bg__header
    font-size: 28px
  .victories-item
    margin-bottom: 50px
    &__description
      h4
        font-size: 29px
        line-height: 46px
      p
        font-size: 18px
