/* video archive

.post-type-archive-video
	.important-post .row
		-webkit-align-items: stretch
		align-items: stretch

	.video-meta
		color: #6d7278
		font-size: 18px
		margin: .5rem 0

	.important-post h2
		font-size: 45px
		line-height: normal

	.excerpt
		margin-top: auto
		font-size: 24px
		margin-bottom: 3rem

	.video-meta .credits
		font-weight: 300
		font-style: italic
		font-size: 18px

	.important-post .btn
		display: inline-block
		padding: .5em 122px
		position: absolute
		bottom: 0

	.other-videos
		h2
			font-size: 24px
			text-transform: uppercase
			font-family: var(--font-rc)

		article h2
			font-family: var(--font-rc)
			font-size: 18px
			font-weight: normal
			text-align: center
			text-transform: uppercase

.other-videos .video-meta
	font-size: 16px
	color: #000
	text-align: center

.player
	position: relative
	padding-bottom: 56.25%

	/* 16:9
	padding-top: 25px
	height: 0

	/* margin-bottom: 50px;

	iframe
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%

.single-video
	.video-meta
		.credits
			font-size: 18px

			p
				margin-bottom: 0

		color: #6d7278
		margin-bottom: 60px
		font-size: 16px

	.video_description
		margin-top: 1em
		color: #000

	h1
		font-size: 34px
		color: var(--color-secondary)
		text-transform: uppercase
		font-family: var(--font-rc)

	.post-bottom
		margin: 23px 0
		-webkit-align-items: center
		align-items: center

		.author
			font-size: 18px

.post-meta .author a
	color: var(--color-grey)

	&:hover
		color: var(--color-secondary)

.post-type-archive-video article a img
	margin-bottom: 24px

.single-video
	.related-posts
		a
			display: block

		article h2
			font-family: var(--font-rc)
			font-weight: normal
			font-size: 22.5px
			text-transform: uppercase
			text-align: center
			margin-top: 1em

	.post-content
		margin-top: 30px
		margin-bottom: 30px

.main_additional_material
	.image
		img
			position: absolute
			z-index: -1
			top: 50%
			-webkit-transform: translateY(-50%)
			transform: translateY(-50%)
			min-height: 100%
			width: auto
			min-width: 100%
			max-width: unset

		height: 60vh
		position: relative
		overflow: hidden

	.main_material_text
		position: absolute
		bottom: 0
		background: rgba(0, 0, 0, 0.5)
		max-width: 40vw
		padding: 1rem
		color: #FFF

	a h2
		color: #fff
		transition: color .3s linear
