// .btn_base {

// }

.button.button {
	@include btn_size_normal;

	&:not(.button--v2_mod) {
		@include btn_style_red;
	}

	&.button--v2_mod {
		@include btn_style_black;
	}
}

.button__title {
	align-self: flex-end;
	margin-right: 2rem;
}

.button__icon {
	margin-left: auto;

	border-left: 1px solid $white;

	@include bp($point_2, min) {
		width: 6.6rem;
		height: 6.6rem;
		padding: 1.8rem;
	}

	@include bp($point_3) {
		width: 5.6rem;
		height: 4.8rem;
		padding: 1.4rem;
	}
}

// btn_v2

.btn_v2.btn_v2 {
	@include btn_size_v2;
	@include btn_style_red;

	&:not(.btn_v2--v2_mod) {
		@include btn_style_red;
	}

	&.btn_v2--v2_mod {
		@include btn_style_yellow;
	}
}

.btn_v2__icon {
	margin-left: auto;
	margin-top: auto;

	@include bp($point_2, min) {
		width: 2.2rem;
		height: 2.2rem;
	}

	@include bp($point_3) {
		width: 1.6rem;
		height: 1.6rem;
	}
}

.btn_v3 {
	@include btn_size_v3;
	@include btn_style_border;
}
