//---------------------------------------------sections
.section {
	position: relative;

	width: 100%;
	padding: var(--gl-vr-indent) var(--gl-hr-indent);
	font-size: 1rem;
	font-family: $font_1;

	&.section--border_mod {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.section_in {
	max-width: $page_width;
	width: 100%;
	margin: 0 auto;

	&.section_in--border_2_mod {
		@include bp($point_2, min) {
			border-left: 1px solid $gray_2;
			border-right: 1px solid $gray_2;
		}
	}


	&.section_in--border_mod {
		position: relative;

		@include bp($point_2, min) {
			padding: 2rem 2rem;
			border-left: 1px solid $gray_2;
			border-right: 1px solid $gray_2;
		}

		@include bp($point_3) {
			padding: var(--gl-vr-indent) 0;
		}

		&::after {
			position: absolute;
			top: 0;
			left: 50%;
			width: 100vw;
			height: 1px;

			border-top: 1px solid $gray_2;
			content: '';

			transform: translateX(-50%);
		}
	}

	.section_in~& {
		@include bp($point_2, min) {
			&::after {
				left: 0;
				width: 100%;
				transform: none;
			}
		}

		@include bp($point_3) {}
	}
}